<div class = "container">



  <header class = "primary-logo">

      <h1>See your company clearly.</h1>

  </header>







  <div class = "new-question">
    <%= link_to 'Ask a question', new_question_url, :class => 'button'%>
  </div>


  <div class = "primary-content app">


        <% @questions.each do |question| %>

        <div class = "all-questions group">

            <h4>
              Week #<%= question.week.week_number %>
              <time>
                (<%= question.week.week_start %> - <%= question.week.week_stop %>)
              </time>
            </h4>


            <p>
              "<%= question.question_text %>"
            </p>



            <div class = "button-set">

                <%= link_to 'Respond', new_response_url, :class => 'button small' %>

                <%= link_to 'View', response_url(question), :class => 'button small'%>

                <%= link_to 'Edit', edit_response_url(question), :class => 'button small'%>

            </div>

          </div>

        <% end %>

    </div>

</div>
