


 <h1 class = "large-top-space center">See your company clearly.</h1>


  <div class = "margin-auto">
    <%= link_to 'Ask a question', new_question_url, :class => 'button'%>
  </div>



  <div class = "primary-content app">


        <% @questions.each do |question| %>

            <h4 class = "top-space">
              Week #<%= question.week.week_number %>
              <time>
                (<%= question.week.week_start %> - <%= question.week.week_stop %>)
              </time>
            </h4>


            <h3 class = "center italic">
              "<%= question.question_text %>"
            </h3>



            <div class = "button-set">

                <%= link_to 'Respond', question_url(question), :class => 'button small' %>
                <%= link_to 'View', week_url(question.week_id), :class => 'button small'%>
                <%= link_to 'Edit', edit_question_url(question), :class => 'button small'%>
            </div>

        <% end %>

    </div>



