
 <h1 class = "large-top-space center">See your company clearly.</h1>


  <div class = "primary content center top-space">
    <%= link_to 'Ask a question', new_question_url, :class => 'button'%>
  </div>



  <div class = "primary-content app ">


        <% @questions.each do |question| %>

            <h4 class = "top-space">

            <h3><%= question.company.name %></h3>

              <time>
                (<%= question.week.start_date.strftime("%b %e, %Y")  %> - <%= question.week.end_date.strftime("%b %e, %Y")  %>)
              </time>
            </h4>

            <p>Ask this on:  <%= question.ask_at.strftime("%A, %b %e at %l:%M %p")  %></p>

            <p>Send reminder on:  <%= question.remind_at.strftime("%A, %b %e at %l:%M %p") %></p>

            <p>Send rollup on:  <%= question.send_roll_up_at.strftime("%A, %b %e at %l:%M %p") %></p>


            <h3 class = "center italic">
              "<%= question.question_text %>"
            </h3>



            <div class = "button-set">

                <%= link_to 'View', question_url(question), :class => 'button small'%>
                <%= link_to 'Edit', edit_question_url(question), :class => 'button small'%>


            </div>

        <% end %>

    </div>

