<% if super_admin? %>
  <h1 class = "large-top-space center">All the questions</h1>

<% else %>

 <h1 class = "large-top-space center">All the questions for <%= current_user.company.name %></h1>

<% end %>



<div class = "primary-content top-space ">


      <% @questions.each do |question| %>

          <% if question.company_id == current_user.company_id || super_admin? %>

            <h4 class = "top-space">Week of <%= question.week.start_date.strftime("%B %e")%>

          <% if super_admin? %>

             for <%= question.company.name %>

          <% end %>

              :
            </h4>

            <h3 class = "center italic">
              "<%= question.question_text %>"
            </h3>




        <% if question.send_question == true %>
            <p class = "center">Active question</p>
        <% else %>
            <p class = "center">Inactive question</p>
        <% end %>



            <div class = "button-set">

                <%= link_to 'View', question_url(question), :class => 'button small'%>
                <%= link_to 'Edit', edit_question_url(question), :class => 'button small'%>

            </div>

          <% end %>

      <% end %>


  <h2 class = "center large-top-space ">
   Want to know more?
  </h2>
   <p class = "center">
    <%= link_to 'Ask a question', new_question_url, :class => 'button'%>
  </p>
  </div>

    </div>

