<div class = "non-color-page">
<% if super_admin? %>
  <h2>All questions</h2>
  <h5>All companies</h5>

<% else %>

 <h2>All questions</h2>
  <h5><%= current_user.company.name %></h5>

<% end %>



<div class = "smaller-container">


      <% @questions.each do |question| %>

          <% if question.company_id == current_user.company_id || super_admin? %>

            <h5 class = "top-space">Week of <%= question.week.start_date.strftime("%B %e")%>

          <% if super_admin? %>

          for <%= question.company.name %>

          <% end %>

           </h5>

            <h3 class = "small-top-space center italic">
              "<%= question.question_text %>"
            </h3>




        <% if question.send_question == true %>
            <p class = "center"><b>Active</b></p>
        <% else %>
            <p class = "center"><b>Inactive</b></p>
        <% end %>


        <p class = "center"> (<%= Response.where(:question_id => question.id).count %> total responses)</p>


            <div class = "top-space center">

                <%= link_to 'View', question_url(question), :class => 'button blue'%>
                <%= link_to 'Edit', edit_question_url(question), :class => 'button gray'%>

            </div>

      <% end %>

  <% end %>


  <h2 class = "center">
   Want to know more?
  </h2>
   <p class = "center small-top-space">
    <%= link_to 'Ask a question', new_question_url, :class => 'button blue'%>
  </p>
  </div>

    </div>

</div>
