<div class = "non-color-page">
<h2> This week's question</h2>

  <p class = "center italic">
      (<%= @question.week.start_date.strftime("%B %e")  %> - <%= @question.week.end_date.strftime("%B %e")  %>)
  </p>

  <h3 class = "top-space center">
    "<%= @question.question_text %>"
  </h3>

    <p class = "top-space center"><%= link_to 'Respond', new_question_response_url(@question), :class => 'button blue' %></p>

      <% if @question.responses.present? %>
        <p class = "top-space center"><%= link_to 'View the rollup', question_responses_url(@question), :class => 'button gray' %></p>
      <% end %>

  <% if admin? || super_admin? %>

      <% if @question.send_question == true %>

          <p class = "top-space center"><b>Active</b></p>
          <p class = "small-top-space center">Ask this question on <%= @question.ask_at.strftime("%A, %B %e") %>
              at
            <%= @question.ask_at.strftime("%l:%M %p") %>
           </p>
      <% else %>
          <p class = "top-space center"><b>Inactive</b></p>
      <% end %>


        <% if @question.send_reminder == true %>
            <p class = "small-top-space center">Send a reminder on <%= @question.remind_at.strftime("%A, %B %e") %>
              at
            <%= @question.remind_at.strftime("%l:%M %p") %>
           </p>
        <% end %>

       <% if @question.send_rollup == true %>
            <p class = "small-top-space center">Send a rollup on <%= @question.send_roll_up_at.strftime("%A, %B %e") %>
              at
            <%= @question.send_roll_up_at.strftime("%l:%M %p") %>
      <% end %>
           <p class = "center"><%= link_to 'Edit this question', edit_question_url(@question)%></p>
    <% end %>

    <% if admin? || super_admin? %>
            <p class = "center"><%= link_to 'Back to all the questions', questions_url %></p>
      <% end %>

    </div>

</div>




