<div class = "container">

    <h1 class = "top-space center">This week's question</h1>


  <div class = "primary-content app">

        <h4 class = "top-space">
            Week #<%= @question.week.week_number %>
          <time>
            (<%= @question.week.week_start %> - <%= @question.week.week_stop %>)
          </time>
        </h4>


          <h3 class = "center italic">
            "<%= @question.question_text %>"
          </h3>



      <%= form_tag(responses_url, method: 'post') do %>

            <%= hidden_field_tag :question_id, params[:id] %>


            <p>Your thoughts:</p>
            <p>
              <%= text_area_tag :response_text %>
            </p>


            <p>Your name:
              <%= text_field_tag :user_name %>
            </p>

            <div class = "button-set">
              <%= submit_tag 'Respond', :class => 'button' %>

              <p><%= link_to 'Wrong week?', weeks_url %></p>


            </div>

      <% end %>

    </div>





  <footer class = "top-space group ">
      <ul class = "app">
        <li><%= link_to 'Ask a question', questions_url %></li>
        <li><%= link_to 'Start over', responses_url %></li>
      </ul>
  </footer>


</div>


