

    <h1 class = "large-top-space center">This week's question</h1>


  <div class = "primary-content app">

        <h4 class = "top-space">

          <time>
            (<%= @question.week.start_date %> - <%= @question.week.end_date %>)
          </time>
        </h4>


          <h3 class = "center italic">
            "<%= @question.question_text %>"
          </h3>

          <p><%= link_to 'Edit this question', edit_question_url(@question)%></p>

          <p><%= link_to 'Respond to this question', new_response_url %></p>

          <p>Ask this question on:  <%= @question.ask_at %></p>
          <p>Send reminder on:  <%= @question.remind_at %></p>
          <p>Send rollup on:  <%= @question.send_roll_up_at %></p>

    </div>






