<div class = "container">
  <header class = "primary-logo">
    <h1>This week's question</h1>
  </header>

  <div class = "primary-content app">
      <div class = "all-questions group">

        <h4>
            Week #<%= @question.week.week_number %>
          <time>
            (<%= @question.week.week_start %> - <%= @question.week.week_stop %>)
          </time>
        </h4>


          <p>
            "<%= @question.question_text %>"
          </p>

      </div>
    </div>



    <div class = "primary-content app">

      <%= form_tag(responses_url, method: 'post') do %>

            <%= hidden_field_tag :question_id, params[:id] %>


            <p>Your name:
              <%= text_field_tag :user_name %>
            </p>


            <p>Your thoughts:
              <%= text_area_tag :response_text %>
            </p>

            <div class = "button-set">
              <%= submit_tag 'Respond', :class => 'button' %>

              <p>or <%= link_to 'Back to all questions', questions_url %></p>

            </div>

      <% end %>



    </div>










   <footer>
        <div class = "button-set">

            <%= link_to 'See all weeks', weeks_url, :class => 'button small '%>

            <%= link_to 'See all questions', questions_url, :class => 'button small '%>

            <%= link_to 'See all responses', responses_url, :class => 'button small'%>
      </div>
    </footer>


</div>


