

    <h1 class = "large-top-space center">This week's question</h1>


  <div class = "primary-content app">

        <h4 class = "top-space">

          <time>
            (<%= @question.week.start_date.strftime("%b %e, %Y")  %> - <%= @question.week.end_date.strftime("%b %e, %Y")  %>)
          </time>
        </h4>


          <h3 class = "center italic">
            "<%= @question.question_text %>"
          </h3>

          <p class = "center"><%= link_to 'Respond to this question', new_question_response_url(@question), :class => 'button' %></p>

          <p class = "center"><%= link_to 'View the rollup', question_responses_url(@question), :class => 'small button'%></p>

       <% if @question.send_question == true %>
            <p>Yes, ask this question on <%= @question.ask_at.strftime("%A, %b %e at %l:%M %p") %></p>
            <% else %>
            <p>No, do not ask this question.</p>
        <% end %>


        <% if @question.send_reminder == true %>
          <p>Yes, send a reminder on <%= @question.remind_at.strftime("%A, %b %e at %l:%M %p") %></p>
          <% else %>
          <p>No, do not send a reminder for this week.</p>
      <% end %>

       <% if @question.send_rollup == true %>
          <p>Yes, send a rollup on <%= @question.send_roll_up_at.strftime("%A, %b %e at %l:%M %p") %></p>
          <% else %>
          <p>No, do not send a rollup for this week.</p>
      <% end %>


           <p><%= link_to 'Edit this question', edit_question_url(@question)%></p>


            <p><%= link_to 'Back to all the questions', questions_url %></p>

    </div>






