


    <h1 class = "large-top-space center">What week is it?</h1>

    <% if session[:user_id].present? %>
      <div class = "large-top-space">
        <p> Welcome back,  <%= User.find(session[:user_id]).first_name %></p>
        <p><%= notice %></p>
      </div>
    <% end %>


    <div class = "primary-content center">

        <% @weeks.each do |week| %>

          <h4 class = "top-space">


    <% if week.question_id.present? %>


            <%= link_to 'Week #' + week.week_number.to_s, question_url(week.question_id), :class => 'button' %>

          <% else %>

            <%= link_to 'Ask a question for Week #' + week.week_number.to_s, new_question_url, :class => 'button'%>

          <% end %>

            <p>(<%= week.week_start %> - <%= week.week_stop %>)</p>

          </h4>

          <p>
            <%= link_to 'Edit', edit_week_url(week) %>
          </p>


        <% end %>



    <div class = "top-space">
        <%= link_to 'Create a new week', new_week_url, :class => 'button small'%>
    </div>

  </div>



