<div class = "container">


    <h1 class = "top-space center">What week is it?</h1>



    <div class = "primary-content app center">

        <% @weeks.each do |week| %>

          <h4 class = "top-space">


    <% if week.question_id.present? %>


            <%= link_to 'Week #' + week.week_number.to_s, question_url(week.question_id), :class => 'button' %>

          <% else %>

            <%= link_to 'Ask a question for Week #' + week.week_number.to_s, new_question_url, :class => 'button'%>

          <% end %>

            <p>(<%= week.week_start %> - <%= week.week_stop %>)</p>

          </h4>

          <p>
            <%= link_to 'Edit', edit_week_url(week) %>
          </p>


        <% end %>

   </div>

    <div class = "margin-auto">
        <%= link_to 'Create a new week', new_week_url, :class => 'button small'%>
    </div>



    <footer class = "top-space group ">
        <ul class = "app">
          <li><%= link_to 'Ask a question', questions_url %></li>
          <li><%= link_to 'Start over', responses_url %></li>
        </ul>
    </footer>

</div>
