<div class = "container">

      <header class = "primary-logo">
          <h1>Manage your ClarityBox</h1>
      </header>


      <div class = "new-question">
        <%= link_to 'Begin a new week', new_week_url, :class => 'button'%>
      </div>



      <div class = "primary-content app">

          <% @weeks.each do |week| %>

            <h4>
       <!--         Week #<%= week.week_number %> -->

              <%= link_to week.week_number, week_url(week), :class => 'button' %>
              (<%= week.week_start %> - <%= week.week_stop %>)

            </h4>

            <p>
              <%= link_to 'Edit', edit_week_url(week) %>
            </p>


          <% end %>
      </div>

      <footer>
        <div class = "button-set">
            <%= link_to 'See all questions', questions_url, :class => 'button small '%>

            <%= link_to 'See all responses', responses_url, :class => 'button small'%>
      </div>
    </footer>

</div>
