<div class = "container">

      <header class = "primary-logo">
          <h1>Your Time with ClarityBox</h1>
      </header>


      <div class = "new-question">
        <%= link_to 'Begin a new week', new_week_url, :class => 'button'%>
      </div>


      <div class = "primary-content app">

          <% @weeks.each do |week| %>

            <h4>
       <!--         Week #<%= week.week_number %> -->

              <%= link_to week.week_number, question_url(week), :class => 'button' %>
              (<%= week.week_start %> - <%= week.week_stop %>)

            </h4>

            <p>
              <%= link_to 'Edit', edit_week_url(week) %>
            </p>


          <% end %>




      </div>

</div>
