<div class = "container">
  <header class = "primary-logo">
    <h1>The question</h1>
  </header>

  <div class = "primary-content app">
      <div class = "all-questions group">

        <h4>
            Week #<%= @week.week_number %>
          <time>
            (<%= @week.week_start %> - <%= @week.week_stop %>)
          </time>
        </h4>

        <% @week.questions.each do |question| %>
          <p>
            "<%= question.question_text %>"
          </p>


      </div>
    </div>



    <header class = "primary-logo">
        <h1>The responses</h1>
    </header>


    <div class = "primary-content app">
        <div class = "all-questions group">

      <% question.responses.each do |response| %>

          <h4>
              <%= response.user_name %>:  "<%= response.response_text %>"
          </h4>

        <% end %>

      </div>

    </div>

  <% end %>

   <footer>
        <div class = "button-set">

            <%= link_to 'See all weeks', weeks_url, :class => 'button small '%>

            <%= link_to 'See all questions', questions_url, :class => 'button small '%>

            <%= link_to 'See all responses', responses_url, :class => 'button small'%>
      </div>
    </footer>


</div>


