

<h1 class = "large-top-space center">Sign In</h1>



  <div class = "smallest-container">

    <%= form_tag sessions_url do %>

      <p class = "center top-space">
<!--         <%= label_tag :email, 'Email', :class =>'label' %>
 -->        <%= email_field_tag :email, 'Email', :class => 'text-field'  %>
      </p>

      <p class = "center">
<!--         <%= label_tag :password, 'Password', :class =>'label' %>
 -->        <%= password_field_tag :password, 'Password', :class => 'text-field' %>
      </p>

     <p class = "center">   <%= submit_tag 'Sign in', :class => 'button' %></p>

    <% end %>

  </div>

<p> <%= notice %></p>
