<p>You received an <b>App Invite</b> request:</p>

<p>Name:  <%= @app_request.name %></p>
<p>Email:  <%= @app_request.email %></p>
<p>Company:  <%= @app_request.company %></p>
<p>Message:  <%= @app_request.message %></p>
<p>Created at:  <%= @app_request.created_at.strftime("%D") %> at <%= @app_request.created_at.strftime("%l:%M %p") %>

<p>Log in to view it <%= link_to 'here', new_session_url %>.</p>
