
<div class = "section">
  <h4>HQ Sign In</h4>
  <div class = "form">

        <%= form_tag sessions_hq_url do %>

          <%= label_tag :email, 'Email',  {:class => 'block label'} %>
          <%= email_field_tag :email, '', :class => 'field'  %>

          <%= label_tag :password, 'Password',  {:class => 'block label'} %>
          <%= password_field_tag :password, '', :class => 'field  block' %>

          <%= submit_tag 'Sign in', :class => 'button matched' %></p>

      </div>

  <% end %>

</div>
