<div class = "section container">

<h3 class = "center">All Project Inquiries</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Email</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_requests.each do |work_request| %>
  <tr>
    <td><%= work_request.name %></td>
    <td><%= work_request.company %></td>
    <td><%= work_request.email %></td>
    <td><%= work_request.message %></td>
    <td><%= time_ago_in_words(work_request.created_at)%> ago</td>

  </tr>
<% end %>
</table>

<br />

</div>
