<h1>Listing work_requests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Email</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_requests.each do |work_request| %>
  <tr>
    <td><%= work_request.name %></td>
    <td><%= work_request.company %></td>
    <td><%= work_request.email %></td>
    <td><%= work_request.message %></td>
    <td><%= link_to 'Show', work_request %></td>
    <td><%= link_to 'Edit', edit_work_request_path(work_request) %></td>
    <td><%= link_to 'Destroy', work_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

