<h1 class = "large-top-space center">Editing User</h1>


<%= form_tag(user_url(@user), method: 'put') do %>

<p><%= notice %></p>

  <p>
    <%= label_tag :email %>
    <%= text_field_tag :email, @user.email %>
  </p>

  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </p>


  <div>
    <%= submit_tag "Update User", :class => 'button' %>
  </div>

<% end %>

