
<div class= "non-color-page">

<% if super_admin? %>

  <h2>All users </h2>
  <h5>All Companies</h5>

  <div class = "smaller-container">

    <% @users.each do |user| %>

      <div class = "user-display top-space">

        <%= image_tag user.avatar_url, :class => 'avatar medium' %>

        <h3><%= user.first_name %> <%= user.last_name %></h3>
        <h4><%= user.company.name %></h4>
        <p>(<%= user.user_role %>)</p>

      </div>

      <p class = "right"> <%= link_to 'Edit', edit_user_url(user) %></p>


    <% end %>

      <p class = "large-top-space center"> <%= link_to 'Create a user', new_user_url, :class => 'button gray' %></p>

     <p class = "large-top-space center"> <%= link_to 'Invite a user', invite_new_url, :class => 'button gray ' %></p>

  <% else %>

  <h2>All users</h2>
  <h5><%= current_user.company.name %></h5>

   <div class = "smaller-container">

      <% @company.users.each do |user| %>

         <div class = "user-display group">

           <%= image_tag user.avatar_url, :class => 'avatar medium' %>

          <h3><%= user.first_name %> <%= user.last_name %></h3>


            <% if admin? %>
              <p>(<%= user.user_role %>)</p>
            <% end %>

          </div>

            <% if current_user == user %>
              <p class = "right"> <%= link_to 'Edit', edit_user_url(user) %></p>
            <% end %>



     <% end %>

    <% if admin? %>

          <%= link_to 'Invite users', invite_new_url, :class => 'button gray large-top-space center' %>


    <% end %>



  <% end %>

</div>
</div>

