
<div class= "non-color-page">

  <% if super_admin? %>

    <h2>All the users for all companies </h2>

       <div class = "smaller-container">

        <% @users.each do |user| %>

          <p><%= user.first_name %> <%= user.last_name %>, <em><%= user.company.name %></em> (<%= user.user_role %>)</p>

          <p> <%= link_to 'Edit', edit_user_url(user) %></p>


        <% end %>

      <p class = "top-space center"> <%= link_to 'Add a user', new_user_url, :class => 'button gray' %></p>

  <% else %>

  <h2>All the users for <%= current_user.company.name %> </h2>

    <div class = "smaller-container">

    <% @company.users.each do |user| %>

            <p><%= user.first_name %> <%= user.last_name %>

            <% if admin? %>
              <em>(<%= user.user_role %>)</em>
            </p>
            <% end %>
     <% end %>

    <% if admin? %>
        <p class = "top-space center"><a href = "#" class = "button gray">Invite users<a></p>
    <% end %>

  <% end %>


</div>


</div>
