<div class = "color-page">

<div class = "container">

   <h2>Create an Account</h2>

        <p><%= notice %></p>

        <div class = "form">

          <%= form_for @user do |f| %>


            <%= f.text_field :first_name, { :value => 'First Name', :class => 'field'} %>

            <%= f.text_field :last_name,  { :value => 'Last Name', :class => 'field inline'}  %>

            <%= f.text_field :email,  { :value => 'Email', :class => 'field longer'}  %>

            <%= f.label :user_role, 'User role',  {:class => 'block label'} %>
            <%= f.select :user_role, ['Super Admin', 'Admin', 'General',], {:class => 'inline'} %>


            <%= f.label :company_id, 'Company',  {:class => 'block label'} %>
            <%= f.select :company_id, options_from_collection_for_select(Company.all, :id, :name), {:class => 'block'} %>


            <%= f.label :password, 'Password',  {:class => 'block label'} %>
            <%= f.password_field :password,  {:class => 'field block'}  %>
            <%= f.label :password_confirmation, 'Confirm password',  {:class => 'block label'}%>
            <%= f.password_field :password_confirmation,  {:class => 'field block'} %>

            <%= f.submit :value => 'Create', :class => 'button' %>


            <% end %>

          </div>

      </div>

  </div>
