

   <h1 class = "large-top-space center">New User</h1>

      <div class = "primary-content top-space">


        <p><%= notice %></p>



      <%= form_for @user, class: 'user-form' do |f| %>

        <p>
          <%= f.label :first_name, 'First' %>
          <%= f.text_field :first_name %>
          <%= f.label :last_name, 'Last' %>
          <%= f.text_field :last_name %>
        </p>

        <p>
          <%= f.label :email, 'Email' %>
          <%= f.text_field :email %></p>

        <p>
          <%= f.label :user_role, 'User role' %>
          <%= f.select :user_role, ['admin', 'general'] %></p>


        <p>
          <%= f.label :company_id, 'Company name' %>
          <%= f.select :company_id, options_from_collection_for_select(Company.all, :id, :name) %></p>
        </p>

      <p>
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password %>
        <%= f.label :password, 'Confirm password' %>
        <%= f.password_field :password_confirmation %>
      </p>



      <%= f.submit :class => 'button center' %>



      <% end %>


