<div class = "non-color-page">
    <div class = "small-callout">
      <h2 = "small-callout"><%= @user.first_name %>'s ClarityBox</h2>
    </div>

  <div class = "container">


  <% if @question_for_this_week.present? %>

    <div class = "smaller-container group">

      <h6>This week's question</h6>

      <h5 class = "small-top-space">(<%=@question_for_this_week.week.start_date.strftime("%B %e") %> - <%=@question_for_this_week.week.end_date.strftime("%B %e") %>)</h5>

      <h3 class = "small-top-space center">"<%=@question_for_this_week.question_text %>"</h3>

      <% if @question_for_this_week.responses.where(:user_id => current_user).present? %>

     <p class = "center border-bottom">You've already responded to this week's question.</p>

      <% else %>

      <p class = "top-space center"><%= link_to 'Respond', new_question_response_url(@question_for_this_week), :class => 'button ' %></p>

      <%end %>

  <% else %>

      <p class = "center border-bottom"> There is no question for this week.</p>

  <% end %>


<h6>Previous responses</h6>

<% @responses.each do |response| %>

  <h5 class = "top-space center">Week of <%= response.question.week.start_date.strftime("%B %e") %></h5>

  <h3 class = "small-top-space center">"<%= response.question.question_text %>"</h3>

    <% if response.yes_response == true %>
        <h4 class = "small-top-space center">
          You said, <b class = "color">"Yes."</b>
        </h4>
    <% end %>

    <% if response.yes_response == false %>
        <h4 class = "small-top-space center">
          You said, <b>"No."</b>
        </h4>
    <% end %>

    <p class = "top-space center">
      <%= link_to 'View your response', question_response_url(response.question, response), :class => 'button-small outline color' %>

      <%= link_to 'View the rollup', question_responses_url(response.question), :class => 'button-small outline color' %>
    </p>

<% end %>


</div>

</div>
</div>
</div>
