<div class = "non-color-page">

<h2><%= @user.first_name %>'s ClarityBox</h2>

<div class = "smallest-container">
  <%= link_to "This week's question", question_url(@question_for_this_week), :class => 'button-extra-large blue block center '%>


<h3 class = "top-space center italic">Your responses</h3>

<% @responses.each do |response| %>

  <h5 class = "top-space center">Week of <%= response.question.week.start_date.strftime("%B %e") %></h5>

  <h4 class = "small-top-space center"><em>"<%= response.question.question_text %>"</em></h4>

    <% if response.yes_response == true %>
        <h4 class = "small-top-space center">
          You responded, "Yes."
        </h4>
    <% end %>

    <% if response.yes_response == false %>
        <h4 class = "small-top-space center">
          You responded, "No."
        </h4>
    <% end %>

    <p class = "top-space center">
      <%= link_to 'View your response', question_response_url(response.question, response), :class => 'button blue' %>
    </p>
    <p class = "center">
      <%= link_to 'View the rollup', question_responses_url(response.question) %>
    </p>

<% end %>


</div>

</div>
</div>
