<div class = "container primary-content group">
  <h3> All the questions</h3>

  <h4><a href = "/question/new">Create a new question</a></h4>

  <div>
    <% @questions.each do |input| %>

        <h4>
          Week #<%= input.week_number %>
        </h4>

        <p>
          (<%= input.week_start %> - <%= input.week_end %>)
        </p>

        <p>
          "<%= input.question %>"
        </p>

<!--         <p>
          <a href="/question/<%= input.id %>">
          View roll-up >>
        </a>
        </p>
 -->

        <p>
          <b><%= link_to 'Respond to this question >>', response_new_url(input.id) %>

          </b>
        </p>

        <p>
          <%= link_to 'View roll-up >>', roll_up_url(input.id) %>
        </p>

        <p><i><a href="/question/<%= input.id %>/edit">
          Edit this question >>
        </i></a></p>


         <%= link_to "Delete >>", "question/#{input.id}",
                      :method => :delete, :confirm => "You're sure?" %>

    <% end %>


  </div>
</div>
