
<div class = "container primary-content group">
  <h3>Week #<%= @each.week_number %> Roll-up</h3>

      <p>
        (<%= @each.week_start %> - <%= @each.week_end %>)
      </p>

      <p>"<%= @each.question %>"</p>

      <p><i><a href="/question/<%= @each.id %>/edit">
        Edit this question >>
      </i></a></p>

      <p><i><a href="/question">
              View all questions >>
            </i></a></p>


  <h4>The Responses</h4>

    <% @responses.each do |text| %>

        <p>
          <%= text.user_name %>:  "<%= text.answer %>"
        </p>

    <% end %>



        <p>
          <b><%= link_to 'Respond to this question >>', response_new_url(@each.id) %>

          </b>
        </p>

</div>

