<div class = "main-callout group">
  <h2>
<!--     See your company clearly.
 -->    See your company clearly.
  </h2>
  <h3 class = "center smaller-container small-top-space">

<!-- Gain the insights to build a happier, more productive company.
 -->
ClarityBox gives you the insights to build a happier, more productive company.


<!--       Make smarter decisions. Improve company morale. Build a stronger company.
 -->
  </h3>

  <p class = "center">
 <!--     Make smarter decisions. Improve company morale. Build a stronger company. -->
  </p>
</div>


<div id="problem" class = "problem section group ">
<!--   <h3 class = "top-space no-hover center">Problem</a></h3>
 -->    <h4 class = "top-space center">
      "What do my employees actually think about the company?"
    </h4>
  <div class = "top-space smaller-container">
      <p>As your company grows, it's hard to keep tabs on how your employees feel about the company. You wonder:</p>
<ul>
    <li>What do my employees love about the company?</li>
    <li>What are the unspoken frustrations?</li>
    <li>What should I be doing differently?</li>
    <li>Where should I be focusing my time and energy?</li>
</ul>
<p>
        If you had greater insight into your company, you would know what to take action on.
    </p>


  </div>
</div>

<div id="process" class="process section group">


    <h4 = "top-space">
      Gain the insight to improve your company.
    </h4>

      <div class = "smaller-container">

        <p>
          I interview each person in your company, and then present an in-depth, panoramic view of how everyone feels. It's the insight you wish you had, but can't, by virtue of your position.
        </p>


<p>After ClarityBox, you will be able to:<p>


<p><b>Make more-informed decisions.</b>  With ClarityBox, you see the full picture of your company, so you can make smarter decisions. Your decisions will be supported by your team, not just your own intuition.  </p>

<p><b>Increase employee morale.</b> ClarityBox listens to each person in your company. Your employees will feel valued, and appreciate that you are prioritizing their perspectives.</p>

<p><b>Build a more productive company.</b>
After ClarityBox, it's easier to get things done.  You will make decisions with greater buy-in, and you won't feel blindsided when someone voices a concern. You will reduce employee turnover, and your team can simply focus on producing great work.</p>

      </div>
    </div>
</div>


<div id = "process" class = "process section group">

      <h4 = "top-space">
      A simple, straightforward service.
    </h4>

  <div class = "smaller-container">

        <p><b>The Interviews:</b></p>
        <ul>
          <li>One hour each</li>
          <li>Completely confidential</li>
          <li>Conducted in-person or via phone/Skype</li>
        </ul>
        <p><b>The Debrief:</b></p>
        <ul>
          <li>A detailed debrief with you</li>
          <li>A presentation to the entire company</li>

          <li>A personally designed deck with the key insights</li>
        </ul>


      <p>I am based in Chicago, Illinois. Not local? No worries, I'm happy to arrange remote interviews or travel to where you are.</p>

      <p>The entire project typically lasts one month.</p>
    </div>
</div>



<div id="process" class="process section group">

      <div class = "smaller-container">


        <h4 class = "center">An honest, committed approach.</h4>

        <p><b>Thoughtfulness:</b>  I treat each company with a great deal of thoughtfulness and care.  A company is more than a place where people show up to work everyday. It's where people have invested a large majority of their lives, and I'm committed to giving each person's perspective the attention and respect it deserves. <%= link_to 'Learn more about my philosophy here.', philosophy_url %></p>

        <p><b>Personalization:</b>  I'm devoted to understanding your company's nuances:  the people, the circumstances, the dynamics. Before the interviews, I sit down with you to learn your company's history and current state. I then craft interview questions specific to your company. <%= link_to 'View sample interview questions here.', root_url %></p>

        <p><b>Empathy:</b>  My goal is to achieve empathy. I fully absorb each person's perspective, and strive to accurately reflect it back to you, while maintaining complete confidentiality. I closely examine the language, emotion, and context of what people say, and take note of the motivations and influences that inform each person's viewpoint.<%= link_to 'View a sample debrief deck here.', root_url %></p>

        <p><b>Transparency:</b> You are free to ask me any and all questions throughout this entire process. I want to help you find out exactly what you want to know.</p>

    </div>
</div>




<div id="testimonials" class = "testimonials section group">

  <h4 class = "top-spacecenter">Hear what others have to say.</h4>

    <div class = "smaller-container">

      <p>
        I've been fortunate to help some wonderful companies.
      </p>


     <ul>
        <li>37signals</li>
        <li>The Starter League</li>
      </ul>
  </div>
</div>


<div id="who" class = "who section group">

   <h4 class = "top-space no-hover center">
    Who I am.
    <!-- Happiness at work matters. --></a></h4>

    <div class = "smaller-container">

      <p>
        I'm <%= link_to 'Claire Lew', 'http://clairelew.com'%> and I believe that more people should be happy at work.
      </p>

      <p>
        I helped start a <%= link_to 'company', 'http://starterleague.com' %>, and grow another <%= link_to 'company', 'http://mightynest.com/'%>. But I've always been struck by how unhappy people are when they aren't able to communicate openly and honestly with one another - and how much that impacts a company.
      </p>

      <p>
        So I founded ClarityBox. I wanted to create a simple service to help people be happier at work.  <%=link_to 'Click here to learn more about my story.', story_url %>
      </p>
    </div>
  </div>

<div id="contact" class = "contact section group">

      <h4 class = "top-space">Let's work together.
    </h4>

      <div class = "smaller-container">



      <form class = "form">

        <input type = "text" name = "name" id = "name" placeholder= "Name" class = "field longer">

         <input type = "text" name = "company" id = "company" placeholder= "Company" class = "field inline longer">

        <input type = "text" name = "email" id = "email" placeholder = "email@example.com " class = "field large">

        <textarea type = "text" name = "name" id = "name" placeholder = "What's on your mind?" class = "field large tall"></textarea>

        <input type ="submit" class = "button" value = "Send">

      </form>

      <p>
        If you're not a form kind of person, I'd love to hear from you at <a href="mailto:claire@claritybox.co">claire@claritybox.co</a>. Feel free to also give me a ring at 612.578.9342</p>
      <p>Learn more about <a href="/story">my story</a> and <a href="/philosophy">my philosophy</a> .</p>
      <p class = "last">Say hi on <a href="http://twitter.com/cjlew23">Twitter</a> and follow my <a href = "http://clairelew.com/blog">blog</a>.</p>

    </div>
  </div>

<div class = "why-name section group">
  <div class = "smaller-container">
    <h5 class = "top-space">Why the name "ClarityBox"?</h5>
      <p class = " small">I wanted to create a space that enables you to communicate more honestly and openly at work. A space that you trust. A space that you leave with a weight lifted off your mind. A space for clarity. Hence, ClarityBox. </p>
   </div>
</div>
</div>
