	<!--Navigation-->

<header class = "primary-nav">

	<div class = "sticky container">

		<h1 class = "nav-logo"><%= link_to 'ClarityBox', about_url%></h1>
		<!-- <h2><i>See your company clearly.</i></h2> -->

		<nav class = "nav-elements">
			<ul>
				<li><a href="#problem">Problem</a></li>
				<li><a href="#solution">Solution</a></li>
				<li><a href="#process">Process</a></li>
				<li><a href="#testimonials">Testimonials</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>

	</div>
</header>


	<!--Site content-->

<div class = "smaller-container">
	<div class="primary-content container group">
		<h2>My Philosophy</h2>
		<p>I believe people should be happier at work. We spend too much of lives working for us not to be.</p>

		<p>We are unhappiest at work when we feel we can't say what we want. Ineffective communication is the root of almost every organizational problem. The things that go unsaid are what hurt a company the most.</p>

		<p>When we are able to communicate more openly and honestly, we immediately become happier. We can spot problems quicker. We can produce more meaningful outcomes. We feel like the work we do matters.</p>

		<p>Clarity is the starting point. It provides a baseline of awareness. A company must first see itself clearly in order to improve moving forward. You have to first know what the problems are before you can do anything about it.</p>

		<p>My mission is to help companies gain this clarity. And as a result, to help people find the work they do more fulfilling.</p>

		<p>In doing this, here is what I care about:</p>
		<ul>
			<li><b>Authenticity</b>: Be genuine in your intention. Insincerity is poison.</li>
			<li><b>Simplicity</b>: Focus on what's essential. The only things that matter are the things that matter.</li>
			<li><b>Honesty</b>:  Seek the truth. But more importantly, know your own bias and be forthcoming in your limitations.</li>
			<li><b>Empathy</b>: Each person has a perspective worthy of respect. Be patient to wholly understand it.</li>
			<li><b>Trust</b>: When people place their trust in you, it's something you can never earn back. Treat it with care.</li>
		</ul>
	</div>
</div>


<!-- Footer -->


	<footer class = "top-space group">


		<ul>
			<li><%= link_to 'Story', story_url %></li>
			<li><%= link_to 'Philosophy', philosophy_url %></li>
			<li><%= link_to 'Blog', 'http://clairelew.com/blog' %></li>
			<li><%= link_to 'Twitter', 'http://twitter.com/theclaritybox' %></li>
		</ul>

	</footer>


