	<!--Navigation-->

<header class = "primary-nav">

	<div class = "sticky container">

		<h1 class = "nav-logo"><%= link_to 'ClarityBox', about_url%></h1>
		<!-- <h2><i>See your company clearly.</i></h2> -->

		<nav class = "nav-elements">
			<ul>
				<li><a href="#problem">Problem</a></li>
				<li><a href="#solution">Solution</a></li>
				<li><a href="#process">Process</a></li>
				<li><a href="#testimonials">Testimonials</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>

	</div>
</header>


	<!--Site content-->

<div class = "smaller-container">

	<div class="primary-content container group">
	<h2 class>My Story</h2>
			<p>Hi, I'm <%= link_to 'Claire Lew', 'http://clairelew.com'%> and I live in Chicago.</p>
			<p>When I was 13 years old, I bought a book called <em>What Should I Do With My Life?</em>. I didn't finish reading the book (nor do I think I really understood it), but it triggered my first questions on how people can pursue meaningful work.</p>
			<p>I attended Northwestern University, where thanks to a few friends, I stumbled across my major Learning and Organizational Change. I realized how that organizations have an amazing capacity to solve important problems in our world.</p>
			<p>Since then, my passion has been building and improving organizations.  From serving as student body president in college, to helping start a company, to helping growing another company, that is what has consistently motivated the work I've chosen to do.</p>
			<p>Through each experience, I felt the pain of ineffective communication time and time again. It struck me how painful this problem was for me. How feeling like I couldn't speak up and be honest in an organization made me miserable - and negatively affected the organization.</p>

			<p>So I founded ClarityBox. I wanted to create something simple and personal that would help my friends and family communicate better at work. Something that would make them feel a bit happier.</p>
			<p>That is my ultimate quest:  to help more people feel happier at work. It's a long road ahead, but I hope you'll join me for the journey.</p>
		</div>
	</div>


<!-- Footer -->

	<footer class = "top-space group">


		<ul>
			<li><%= link_to 'Story', story_url %></li>
			<li><%= link_to 'Philosophy', philosophy_url %></li>
			<li><%= link_to 'Blog', 'http://clairelew.com/blog' %></li>
			<li><%= link_to 'Twitter', 'http://twitter.com/theclaritybox' %></li>
		</ul>

	</footer>


