
  <!--Navigation-->

<header class = "primary-nav">

  <div class = "sticky container">

    <h1 class = "nav-logo"><%= link_to 'ClarityBox', about_url%></h1>
    <!-- <h2><i>See your company clearly.</i></h2> -->

    <nav class = "nav-elements">
      <ul>
        <li><a href="#problem">Problem</a></li>
        <li><a href="#solution">Solution</a></li>
        <li><a href="#process">Process</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

  </div>
</header>

  <!--Main headline area-->

  <div class = "primary-content group">

<!--  <h2><a name = "problem">How can your company become the best company possible?<br></h2>
 -->  <h2><a name = "problem">How can your company become the best company possible?
      </h2>

    <h4 class = " small-top-space center">ClarityBox gives you the insight to improve your company.</h4>

<!--      <h3 class = "center">Get the clearest answer with ClarityBox.</h3>
 -->



<div class = "smaller-container">




  <!--Site content-->

  <h3 class = "italic top-space no-hover center">Problem</a></h3>
<!--  <h4 class = "small-top-space center">It's hard to be a leader who cares.</h4>
 -->
    <p>As a leader, you care about your company becoming the best company possible. A company where people are proud to say they work. A company where people are truly happy.</p>

    <p>But it's hard. Really hard.</p>


    <p>Everyday, you're faced with tough decisions like, "Should I hire more people or let someone go? Should we change direction as a company or stay the course?"</p>


    <p>You wish you had greater insight into your company so these decisions would be more informed. If you had a full picture of your company's current state, you would know what to act on to improve it.</p>


<!--    <p>You want to know how everyone actually feels about the company. Do they want less or more responsibility? Do they agree or disagree with where the company is headed? Do they think the company should be doing something it's not?</p>
 -->

    <p>You want to see your company clearly so you can make it better.</p>




  <h3 class = "italic top-space no-hover center">Solution</a></h3>

<!--    <h4 class = "small-top-space center">Greater clarity, greater happiness.</h4>
 -->
    <p>ClarityBox gives you the insight to improve your company.</p>

    <p>You get an inside look at your company. As a result, you're able to make more informed decisions as a leader. </p>

    <ul>
      <p>With ClarityBox, you walk away knowing:</p>

        <li>How happy everyone at your company is</li>
        <li>What your company does well</li>
        <li>What your company could improve on</li>
        <li>Where you should be focusing your time and energy</li>
        <li>What blind spots you're missing</li>
    </ul>

    <p>You gain greater clarity and confidence in how you lead your company. You can make everyone at your company happier, and your company better.</p>

    <p>You also enable each person in your company to feel thoroughly heard and valued. They genuinely appreciate the time and effort you took to listen to their perspective.</p>



      <h3 class = "italic top-space no-hover center">Process</a></h3>
      <p>I interview each person in your company. Then, I present an in-depth, panoramic view of how everyone feels, and key insights to guide your decisions as a leader.</p>
      <p><b>The Interviews:</b></p>
      <ul>
        <li>One hour each</li>
        <li>Completely confidential</li>
        <li>Conducted in-person or via phone/Skype</li>
      </ul>
      <p><b>The Debrief:</b></p>
      <ul>
        <li>A detailed debrief with you</li>
        <li>A presentation to the entire company</li>

        <li>A personally designed deck with the key insights</li>
      </ul>


      <p class = "top-space">It's the opposite of cookie-cutter. It's deeply personalized and customized for the nuances of your company:  the people, the circumstances, and the dynamics. You can learn more about <%= link_to 'my philosophy', philosophy_url %> and <%= link_to 'my story', story_url %>.</p>

      <p>I am based in Chicago, Illinois. Not local?  No worries, I'm happy to arrange remote interviews or travel to where you are.</p>

        <a name = "testimonials">
      <p>ClarityBox is $5,000 for a company of 25 people or less. For each additional person, it costs $300. The entire project lasts about one month.</p>



<!--    <div class="outcome group">
      <h4><a name = "outcome">Outcome</a></h4>
      <p><strong>Your company will gain clarity.</strong> You'll know how everyone feels, and what your company should do to improve.</p>
      <p><strong>Each individual at your company will feel valued.</strong> They will appreciate being heard, and that you cared to listen.</p>
    </div> -->


      <h3 class = "italic top-space no-hover center">Testimonials</a></h3>
      <p>I've been fortunate to help some wonderful companies. Here's what they had to say...</p>
      <a name = "contact">
  <!--    <ul>
        <li><h4 class = "center"><b>37signals</b></h4></li>
        <li><h4 class = "center"><b>The Starter League</b></h4></li>
      </ul>
 -->


      <h3 class = "italic top-space no-hover center">Contact</a></h3>

      <h3 class = "center"><a href="http://claritybox.wufoo.com/forms/z7x3p3/">Let's work together.</a></h3>

      <p>Click the link above to get in touch. Or if you have questions or other thoughts, I'd love to hear from you at <a href="mailto:claire@claritybox.co">claire@claritybox.co</a>. Feel free to also give me a ring at 612.578.9342</p>
      <p>Learn more about <a href="/story">my story</a> and <a href="/philosophy">my philosophy</a> .</p>
      <p>Say hi on <a href="http://twitter.com/cjlew23">Twitter</a> and follow my <a href = "http://clairelew.com/blog">blog</a>.</p>


    </div>
  </div>


<!-- Footer -->


  <footer class = "top-space group">


    <ul>
      <li><%= link_to 'Story', story_url %></li>
      <li><%= link_to 'Philosophy', philosophy_url %></li>
      <li><%= link_to 'Blog', 'http://clairelew.com/blog' %></li>
      <li><%= link_to 'Twitter', 'http://twitter.com/theclaritybox' %></li>
    </ul>

  </footer>


