<div class = "main-callout group">
  <h2>
    Leading a company is hard.
  </h2>
  <h3 class = "center small-top-space">
    Make it easier with ClarityBox.
  </h3>
</div>


<div id="problem" class = "problem section group ">
  <h3 class = "top-space no-hover center">Problem</a></h3>
    <h4>
      Should I hire more people or let someone go?
    </h4>
    <h4>
      Should we change direction as a company or stay the course?
    </h4>
    <h4>
      Should I go with my gut on this or defer to other people?
    </h4>
  <div class = "smaller-container">
    <p>
      You face tough decisions as a leader every single day. You wish these decisions were easier. If you knew how everyone actually felt about your company, you would know what to take action on.
    </p>
  </div>
</div>

<div id="solution" class = "solution section group">
  <h3 class = "top-space no-hover center">Solution</a></h3>
    <h4>
      ClarityBox helps you make better decisions  as a leader.
    </h4>
      <div class = "smaller-container">

        <p>
          You gain the insights to see the full picture of your company. This way, you can make better, more-informed decisions. You can act on data driven from your team, not just your own intuition.
        </p>

        <p>
          With ClarityBox, you walk away with the answers to these questions:
        </p>

        <ul>
          <li>What do people really love about the company that I should double-down on?</li>
          <li>What are the unspoken frustrations at the company that I need to address?</li>
          <li>What suggestions should I act on that I previously overlooked?</li>
          <li>Who on my team should I be checking in with more?
          <li>Where should I be focusing my time and energy?</li>
        </ul>

         <p>
          You also walk away with each person on your team feeling truly heard. ClarityBox is the strongest way to show that you value what each person has to say.
        </p>

        <p>After ClarityBox, your job as a leader becomes easier.</p>

    </div>
</div>

<div id="process" class="process section group">

      <h3 class = " top-space no-hover center">Process</a></h3>

      <div class = "smaller-container">

        <p>
          I interview each person in your company. I then present an in-depth, panoramic view of how everyone feels.
        </p>
        <p><b>The Interviews:</b></p>
        <ul>
          <li>One hour each</li>
          <li>Completely confidential</li>
          <li>Conducted in-person or via phone/Skype</li>
        </ul>
        <p><b>The Debrief:</b></p>
        <ul>
          <li>A detailed debrief with you</li>
          <li>A presentation to the entire company</li>

          <li>A personally designed deck with the key insights</li>
        </ul>

        <p class = "top-space">

<p>I treat each company with a great deal of thoughtfulness and care.  A company is more than a place where people show up to work everyday. It's where people have invested a large majority of their lives, and I'm committed to giving each person's perspective the attention and respect it deserves. <%= link_to 'Learn more about my philosophy here.', philosophy_url %></p>

<p>I'm devoted to understanding your company's nuances:  the people, the circumstances, the dynamics. Before the interviews, I sit down with you to learn your company's history and current state. I then craft interview questions specific to your company. <%= link_to 'View sample interview questions here.', root_url %></p>

<p>During the interviews, my goal is to achieve empathy. I fully absorb each person's perspective, and strive to accurately reflect it back to you, while maintaining complete confidentiality. I closely examine the language, emotion, and context of what people say, and take note of the motivations and influences that inform each person's viewpoint.</p>

<p>For the debrief, I pull together direct anonymous quotes from the interviews. From these quotes, I assemble coherent themes and actionable priorities to guide your decisions as a leader. You are free to ask me any and all questions throughout this entire process. <%= link_to 'View a sample debrief deck here.', root_url %></p>

<p>Ultimately, I want to help you build the best company possible. I simply care about you and your team becoming happier.</p>

<p>I am based in Chicago, Illinois. Not local? No worries, I'm happy to arrange remote interviews or travel to where you are.</p>

<p>The entire project typically lasts one month.</p>
    </div>
</div>


<div id="testimonials" class = "testimonials section group">

  <h3 class = "top-space no-hover center">Testimonials</a></h3>

    <div class = "smaller-container">

      <p>
        I've been fortunate to help some wonderful companies. Here's what they had to say...
      </p>


     <ul>
        <li>37signals</li>
        <li>The Starter League</li>
      </ul>
  </div>
</div>


<div id="who" class = "who section group">

   <h3 class = "top-space no-hover center">Who I am</a></h3>

    <div class = "smaller-container">

      <p>
        I'm <%= link_to 'Claire Lew', 'http://clairelew.com'%> and I believe that more people should be happy at work.
      </p>

      <p>
        I helped start a <%= link_to 'company', 'http://starterleague.com' %>, and grow another <%= link_to 'company', 'http://mightynest.com/'%>. But I've always been struck by how unhappy people are when they aren't able to communicate openly and honestly with one another - and how much that impacts a company.
      </p>

      <p>
        So I founded ClarityBox. I wanted to create a simple service to help people be happier at work.  <%=link_to 'Click here to learn more about my story.', story_url %>
      </p>
    </div>
  </div>

<div id="contact" class = "contact section group">

      <h3 class = "top-space no-hover center">Contact</h3>

      <div class = "smaller-container">

    <h4>Let's work together.
    </h4>

      <form class = "form">

        <input type = "text" name = "name" id = "name" placeholder= "Name" class = "field longer">

         <input type = "text" name = "company" id = "company" placeholder= "Company" class = "field inline longer">

        <input type = "text" name = "email" id = "email" placeholder = "email@example.com " class = "field large">

        <textarea type = "text" name = "name" id = "name" placeholder = "What's on your mind?" class = "field large tall"></textarea>

        <input type ="submit" class = "button" value = "Send">

      </form>

      <p>
        If you're not a form kind of person, I'd love to hear from you at <a href="mailto:claire@claritybox.co">claire@claritybox.co</a>. Feel free to also give me a ring at 612.578.9342</p>
      <p>Learn more about <a href="/story">my story</a> and <a href="/philosophy">my philosophy</a> .</p>
      <p class = "last">Say hi on <a href="http://twitter.com/cjlew23">Twitter</a> and follow my <a href = "http://clairelew.com/blog">blog</a>.</p>

    </div>
  </div>

<div class = "why-name section group">
  <div class = "smaller-container">
    <h5 class = "top-space">Why the name "ClarityBox"?</h5>
      <p class = " small">I wanted to create a space that enables you to communicate more honestly and openly at work. A space that you trust. A space that you leave with a weight lifted off your mind. A space for clarity. Hence, ClarityBox. </p>
   </div>
</div>
