<div class = "main-callout group">
  <h2>
<!--     See your company clearly.
 -->    See your company clearly.
  </h2>
  <h3 class = "center smaller-container small-top-space">

<!-- Gain the insights to build a happier, more productive company.
 -->
ClarityBox gives you the insights to build a stronger, more productive company.


<!--       Make smarter decisions. Improve company morale. Build a stronger company.
 -->
  </h3>

  <p class = "center">
 <!--     Make smarter decisions. Improve company morale. Build a stronger company. -->
  </p>
</div>


<div id="problem" class = "problem section group ">
  <h3 class = "top-space no-hover center">Problem</a></h3>
    <h4>
      Leading a company is hard.
    </h4>
  <div class = "top-space smaller-container">
     <ul>
        <li>Should I be doing more to retain my employees?</li>
        <li>Should I take the company in a different direction?</li>
        <li>Should I be communicating more as a leader?</li>
        <li>Should I give this person more responsibility?</li>
        <li>Should I let this person go?</li>
    </ul>

      <p>You face tough decisions as a leader every single day. You wish these decisions were easier. If you knew how everyone actually felt in your company, you would know what to take action on.
    </p>

  </div>
</div>

<div id="solution" class = "solution section group">
  <h3 class = "top-space no-hover center">Solution</a></h3>
    <h4>
      ClarityBox gives you the insight to improve your company.
    </h4>

       <div class = "smaller-container">


<p><b>More-informed decisions.</b>  Make decisions supported by your team, not just your own intuition.  With ClarityBox, you gain the knowledge and awareness of how everyone in your company actually feels. You see the full picture of your company, so you can make smarter decisions.</p>

<p><b>Higher employee morale.</b> Enable each person in your company to feel truly heard and valued. ClarityBox provides the opportunity to be completely honest and relieve any frustration. The fact that you place a priority on listening to their perspectives speaks volumes.</p>

<p><b>A stronger, more productive company.</b>
With greater awareness and your employees feeling heard, it's easier to get things done.  You can make decisions with greater buy-in, and you won't feel blindsided when someone voices a concern. You can reduce employee turnover.  You and your team can simply focus on producing great work.</p>

      </div>
    </div>
</div>

<div id="process" class="process section group">

      <h3 class = " top-space no-hover center">Process</a></h3>

      <div class = "smaller-container">


<p class = "center"><b>My approach</b>

<p><b>Thoughtfulness:</b>  I treat each company with a great deal of thoughtfulness and care.  A company is more than a place where people show up to work everyday. It's where people have invested a large majority of their lives, and I'm committed to giving each person's perspective the attention and respect it deserves. <%= link_to 'Learn more about my philosophy here.', philosophy_url %></p>

<p><b>Personalization:</b>  I'm devoted to understanding your company's nuances:  the people, the circumstances, the dynamics. Before the interviews, I sit down with you to learn your company's history and current state. I then craft interview questions specific to your company. <%= link_to 'View sample interview questions here.', root_url %></p>

<p><b>Empathy:</b>  My goal is to achieve empathy. I fully absorb each person's perspective, and strive to accurately reflect it back to you, while maintaining complete confidentiality. I closely examine the language, emotion, and context of what people say, and take note of the motivations and influences that inform each person's viewpoint.<%= link_to 'View a sample debrief deck here.', root_url %></p>

<p><b>Transparency:</b> You are free to ask me any and all questions throughout this entire process. I want to help you find out exactly what you want to know.</p>


  <p class = "center top-space"><b>How it works</b>

      <div class = "smaller-container">

  <p>
          I interview each person in your company. I then present an in-depth, panoramic view of how everyone feels.
        </p>
        <p><b>The Interviews:</b></p>
        <ul>
          <li>One hour each</li>
          <li>Completely confidential</li>
          <li>Conducted in-person or via phone/Skype</li>
        </ul>
        <p><b>The Debrief:</b></p>
        <ul>
          <li>A detailed debrief with you</li>
          <li>A presentation to the entire company</li>

          <li>A personally designed deck with the key insights</li>
        </ul>

        <p class = "top-space">


<p>I am based in Chicago, Illinois. Not local? No worries, I'm happy to arrange remote interviews or travel to where you are.</p>

<p>The entire project typically lasts one month.</p>
    </div>
</div>


<div id="testimonials" class = "testimonials section group">

  <h3 class = "top-space no-hover center">Testimonials</a></h3>

    <div class = "smaller-container">

      <p>
        I've been fortunate to help some wonderful companies. Here's what they had to say...
      </p>


     <ul>
        <li>37signals</li>
        <li>The Starter League</li>
      </ul>
  </div>
</div>


<div id="who" class = "who section group">

   <h3 class = "top-space no-hover center">Who I am</a></h3>

    <div class = "smaller-container">

      <p>
        I'm <%= link_to 'Claire Lew', 'http://clairelew.com'%> and I believe that more people should be happy at work.
      </p>

      <p>
        I helped start a <%= link_to 'company', 'http://starterleague.com' %>, and grow another <%= link_to 'company', 'http://mightynest.com/'%>. But I've always been struck by how unhappy people are when they aren't able to communicate openly and honestly with one another - and how much that impacts a company.
      </p>

      <p>
        So I founded ClarityBox. I wanted to create a simple service to help people be happier at work.  <%=link_to 'Click here to learn more about my story.', story_url %>
      </p>
    </div>
  </div>

<div id="contact" class = "contact section group">

      <h3 class = "top-space no-hover center">Contact</h3>

      <div class = "smaller-container">

    <h4>Let's work together.
    </h4>

      <form class = "form">

        <input type = "text" name = "name" id = "name" placeholder= "Name" class = "field longer">

         <input type = "text" name = "company" id = "company" placeholder= "Company" class = "field inline longer">

        <input type = "text" name = "email" id = "email" placeholder = "email@example.com " class = "field large">

        <textarea type = "text" name = "name" id = "name" placeholder = "What's on your mind?" class = "field large tall"></textarea>

        <input type ="submit" class = "button" value = "Send">

      </form>

      <p>
        If you're not a form kind of person, I'd love to hear from you at <a href="mailto:claire@claritybox.co">claire@claritybox.co</a>. Feel free to also give me a ring at 612.578.9342</p>
      <p>Learn more about <a href="/story">my story</a> and <a href="/philosophy">my philosophy</a> .</p>
      <p class = "last">Say hi on <a href="http://twitter.com/cjlew23">Twitter</a> and follow my <a href = "http://clairelew.com/blog">blog</a>.</p>

    </div>
  </div>

<div class = "why-name section group">
  <div class = "smaller-container">
    <h5 class = "top-space">Why the name "ClarityBox"?</h5>
      <p class = " small">I wanted to create a space that enables you to communicate more honestly and openly at work. A space that you trust. A space that you leave with a weight lifted off your mind. A space for clarity. Hence, ClarityBox. </p>
   </div>
</div>
</div>
