  <%= form_for [@question, @response] do |f| %>


<h3 class = "center">
<%= f.radio_button :yes_response, true %>
<%= f.label :yes_response, 'Yes' %>

<%= f.radio_button :yes_response, false %>
<%= f.label :yes_response, 'No' %>
</h3>


<p>
  <%= f.label :response_text, 'Your thoughts' %>
</p>
  <%= f.text_area :response_text %>

<p class = "center">
  <%= f.radio_button :public_response, true %>
  <%= f.label :public_response, 'Share with my team!' %>
    <%= f.radio_button :public_response, false %>
  <%= f.label :public_response, 'Keep private for now' %>
</p>

<p class = "top-space center"><%= f.submit :class => 'button' %></p>

  <% end %>
