  <%= form_for [@question, @response] do |f| %>

<div class = "form">


<h4 class = "top-space center">
  <%= f.radio_button :yes_response, true %>
  <%= f.label :yes_response, 'Yes' %>

  <%= f.radio_button :yes_response, false %>
  <%= f.label :yes_response, 'No' %>
</h4>


<div class = "small-top-space">
  <%= f.text_area :response_text, { :value => 'What are your thoughts?', :class => 'field longer tall'} %>
</div>

<p class = "center">
  <%= f.radio_button :public_response, true %>
  <%= f.label :public_response, 'Share with my team!' %>
    <%= f.radio_button :public_response, false %>
  <%= f.label :public_response, 'Keep private for now' %>
</p>

<p class = "center"><%= f.submit :class => 'button blue' %></p>


  <% end %>
</div>
