<div class = "container">

  <h1 class = "top-space center"> Edit your response</h1>

    <div class = "primary-content app">


          <h3 class = "top-space center italic">
            "<%= @response.question.question_text %>"
          </h3>



         <%= form_tag(response_url(@response), method: 'put') do%>

            <%#= hidden_field_tag :question_id, params[:id] %>

             <p>Your thoughts:</p>
            <p>
              <%= text_area_tag :response_text, @response.response_text %>
            </p>


            <p>Your name:
              <%= text_field_tag :user_name, @response.user_name %>
            </p>

          <div class = "button-set">
            <%= submit_tag "Save", :class => 'button' %>

    <% end %>

      <p>or <%= link_to 'Cancel', questions_url %></p>

        <%= link_to 'Delete', response_url(@response.question_id), method: 'delete', data: { confirm: "You sure about that?" } %>

  </div>
</div>
