

  <h1 class = "large-top-space center"> Edit your response</h1>

    <div class = "primary-content app">

          <h3 class = "top-space center italic">
            "<%= @response.question.question_text %>"
          </h3>


   <div class = "primary-content">

    <%= form_for @response do |f| %>

      <p>
        <%= f.label :response_text, 'Your thoughts' %>
      </p>
        <%= f.text_area :response_text %>

    <div class = "center">

        <p><%= f.submit 'Edit', :class => 'button' %></p>

    <% end %>

      <p>or <%= link_to 'Cancel', responses_url %></p>

        <em><%= link_to 'Delete', response_url(@response), method: 'delete', data: { confirm: "You sure about that?" } %></em>

    </div>
   </div>

