
<div class = "non-color-page">

  <h2> Edit your response</h2>

 <p class = "center italic">(<%= @response.question.week.start_date.strftime("%B %e")%> - <%=@response.question.week.end_date.strftime("%B %e")%>)</p>



          <h3 class = "center italic">
            "<%= @response.question.question_text %>"
          </h3>


  <%= render 'form' %>

      <p class = "center">or <%= link_to 'Cancel', question_responses_url(@question) %></p>

       <p class = "center"> <em><%= link_to 'Delete', question_response_url(@question, @response), method: 'delete', data: { confirm: "You sure about that?" } %></em></p>

    </div>
   </div>

