<div class = "non-color-page">

    <div class = "smaller-container">
        <h2>This week's rollup</h2>

         <p class = "center italic">
            (<%= @response.question.week.start_date.strftime("%B %e") %> - <%= @response.question.week.end_date.strftime("%B %e") %>)
        </p>

    <h3 class = "center italic">"<%= @response.question.question_text %>"</h3>

        <h4 class = "small-top-space center"><%= @yes_responses.count %> people said "Yes".</h4>

        <h4 class = "small-top-space center"><%= @no_responses.count %> people said "No".</h4>

        <p class = "italic center">(<%= @responses.count %> / <%=@users.count %> people responded this week)</p>

        <% @responses.each do |response| %>

            <% if response.public_response == true %>

                <h4 class = "top-space"><%= response.user.first_name %>: <%= response.response_text %></h4>

            <% end %>

             <h4 class = "top-space"><% if response.public_response == false && response.user == current_user %></h4>

                <p class = "italic">You didn't share your response with your team this week. View your response <%= link_to 'here.', question_response_url(@question, response) %></p>


                <% end %>
            <% end %>

        <p class = "center"><%= link_to 'Back to the question', question_url(@question) %></p>

    </div>

</div>
