<div class = "non-color-page">

    <div class = "smaller-container">
        <h2>This week's rollup</h2>

<% if @responses.any? %>
         <p class = "center">
            (<%= @question.week.start_date.strftime("%B %e") %> - <%= @question.week.end_date.strftime("%B %e") %>)
        </p>

        <h3 class = "center">"<%= @question.question_text %>"</h3>

<!-- Progress Bar -->

    <div class = "center progress-bar group">

        <% yes_percentage = calculate_percentage(@yes_count, @responses.count) %>
        <% no_percentage = calculate_percentage(@no_count, @responses.count) %>

        <% if yes_percentage != 0 %>

           <h5 class = "white-yes small-top-space center">Yes (<%= yes_percentage %>%)</h4>

        <% end %>

            <% if no_percentage != 0 %>

            <h5 class = "white-no small-top-space center">No (<%= no_percentage %>%)</h4>

            <% end %>

        <div class = "progress-bar-yes" style = "width: <%=yes_percentage %>%">

        </div>
    </div>

<!-- Responses -->

        <p class = "center">(<%= @responses.count %> / <%=@users.count %> people responded this week)</p>

        <% @responses.each do |response| %>

            <% if response.public_response == true %>

            <div class = "user-response group">

            <%= image_tag 'avatar_placeholder.jpg', :class => 'avatar small' %>

                <h4><em>"<%= response.response_text %>"</em>   - <%= response.user.first_name %></h4>

            </div>
            <% end %>



        <% end %>


         <p class = "center top-space">


<% if @user_response.present? %>

        <% if @user_response.public_response == true %>
            Your response is <b>public.</b>
        <% end %>

        <% if @user_response.public_response == false %>
            Your response is <b>private.</b>
        <% end %>

                View your response <%= link_to 'here.', question_response_url(@question, @user_response) %>

    <% else %>

    <p class = "center">You did not respond to this question. Respond
        <%= link_to 'here', new_question_response_url(@question) %>.
    </p>

<% end %>

    </p>


        <p class = "center"><%= link_to 'Back to the question', question_url(@question) %></p>



<% else %>

    <p>No Responses Yet</p>
<% end %>
    </div>

     <p class = "center"><%= link_to 'Back to all rollups', company_rollups_url(current_user.company_id) %></p>

</div>
