<div class = "non-color-page">

    <div class = "smaller-container">
        <h2>This week's rollup</h2>

         <p class = "center">
            (<%= @response.question.week.start_date.strftime("%B %e") %> - <%= @response.question.week.end_date.strftime("%B %e") %>)
        </p>

        <h3 class = "center">"<%= @response.question.question_text %>"</h3>

<!-- Progress Bar -->

    <div class = "center progress-bar group">

        <% if @yes_percentage != 0 %>

           <h5 class = "white-yes small-top-space center">Yes (<%= @yes_percentage %>%)</h4>

        <% end %>

            <% if @no_percentage != 0 %>

            <h5 class = "white-no small-top-space center">No (<%= @no_percentage %>%)</h4>

            <% end %>

        <div class = "progress-bar-yes" style = "width: <%=@yes_percentage %>%">

        </div>
    </div>

<!-- Responses -->

        <p class = "center">(<%= @responses.count %> / <%=@users.count %> people responded this week)</p>

        <% @responses.each do |response| %>

            <% if response.public_response == true %>
                <h4 class = "top-space"><%= response.user.first_name %>: <%= response.response_text %></h4>
            <% end %>



        <% end %>


         <p class = "center top-space">

        <% if @user_response.public_response == true %>
            Your response is <b>public.</b>
        <% end %>

        <% if @user_response.public_response == false %>
            Your response is <b>private.</b>
        <% end %>

                View your response <%= link_to 'here.', question_response_url(@response.question, @user_response) %>

    </p>


        <p class = "center"><%= link_to 'Back to the question', question_url(@question) %></p>

    </div>

</div>
