<div class = "non-color-page">

  <div class = "smaller-container">

<h2>Your response</h2>
  <h5 class = "center small-top-space"> Week of <%= @question.week.start_date.strftime("%B %e")%></h5>
    <h3 class = "center small-top-space">"<%= @question.question_text %> "</h3>


    <%= render 'form' %>

    <p class = "center">or <%= link_to 'Cancel', question_responses_url(@question) %></p>


  <% if @response.errors.any? %>
    <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

</div>


</div>
