
    <header class = "primary-logo">

      <h1>Your response</h1>

  </header>



    <div class = "primary-content app">

      <%= form_tag(responses_url, method: 'post') do %>



            <p>Your name:
              <%= text_field_tag :user_name %>
            </p>


            <p>Your thoughts:
              <%= text_area_tag :response_text %>
            </p>

            <div class = "button-set">
              <%= submit_tag 'Respond', :class => 'button' %>

              <p>or <%= link_to 'Back to all questions', questions_url %></p>

            </div>

      <% end %>



    </div>

