<h1 class = "large-top-space center">Your response</h1>

  <div class = "primary-content">

<h3 class = "top-space center italic">
      "<%= @response.question.question_text %>"
    </h3>

       <p><%= @response.user.first_name %>:  "<%= @response.response_text %>"</p>

 </div>


<p><%= link_to 'Edit', edit_question_response_url(@question, @response) %></p>
<p><%= link_to 'See all the responses', question_response_url(@question, @response) %></p>
