<div class = "non-color-page">


<h2>Your response</h2>


    <h3 class = "top-space center italic">
      "<%= @response.question.question_text %>"
    </h3>


  <% if @response.yes_response == true %>

    <h4 class = "top-space center" >You responded, "Yes."</h4>

    <% else %>

    <h4 class = "top-space center" >You responded, "No."</h4>

  <% end %>


  <h4 class = "small-top-space center" >Your thoughts:  "<%= @response.response_text %>"</h4>

    <% if @response.public_response == true %>

      <p class = "center">(Public)</p>

    <% else %>

      <p class = "center">(Private)</p>

    <% end %>



  <p class = "center top-space"><%= link_to 'View the rollup', question_responses_url(@question), :class => 'button blue' %></p>

  <p class = "center"><%= link_to 'Edit your response', edit_question_response_url(@question, @response) %></p>

<% if admin? || super_admin? %>
  <p class = "center"><%= link_to 'Go back to all the questions', questions_url %></p>
<% end %>

</div>
