<div class = "form-small">
<%= form_for @company do |f| %>

<% if super_admin? %>
  <p class = "center top-space">
    <%= f.label :name, 'Company name', :class => 'label-gray block' %>
    <%= f.text_field :name, :class => 'field' %>
  </p>

<% end %>

  <p class = "center top-space">
    <%= f.label :send_question_day_of_week, 'Send question every', :class => 'label-gray block' %>
    <%= f.select :send_question_day_of_week, [['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]] %>

    <%= f.label :send_question_time, 'at', :class => 'label-gray block' %>
    <%= f.time_select :send_question_time, {:minute_step => 30, :ampm => true} %>
  </p>

    <p class = "center top-space">
    <%= f.label :send_reminder_day_of_week, 'Send reminder every', :class => 'label-gray block' %>
    <%= f.select :send_reminder_day_of_week, [['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]]  %>

    <%= f.label :send_reminder_time, 'at', :class => 'label-gray block' %>
    <%= f.time_select :send_reminder_time, {:minute_step => 30, :ampm => true} %>
  </p>

    <p class = "center top-space">
    <%= f.label :send_rollup_day_of_week, 'Send rollup every', :class => 'label-gray block' %>
    <%= f.select :send_rollup_day_of_week, [['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]]  %>

    <%= f.label :send_rollup_time, 'at', :class => 'label-gray block' %>
    <%= f.time_select :send_rollup_time, {:minute_step => 30, :ampm => true} %>
  </p>


  <div class = "center top-space">
    <%= f.submit :class => 'button blue' %>
  </div>

<% end %>

</div>
