<div class = "form-small">
<%= form_for @company do |f| %>

  <p class = "center top-space">
    <%= f.label :name, 'Company name', :class => 'label-gray block' %>
    <%= f.text_field :name, :class => 'field' %>
  </p>

  <p class = "center top-space">
    <%= f.label :send_question_date, 'Send question every', :class => 'label-gray block' %>
    <%= f.select :send_question_date, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', ] %>

    <%= f.label :send_question_time, 'at', :class => 'label-gray block' %>
    <%= f.select :send_question_time, ['5:00AM', '6:00AM', '7:00AM','8:00AM','9:00AM','10:00AM','11:00AM','12:00PM','1:00PM','2:00PM','3:00PM','4:00PM','5:00PM','6:00PM','7:00PM','8:00PM' ] %>
  </p>

    <p class = "center top-space">
    <%= f.label :send_reminder_date, 'Send reminder every', :class => 'label-gray block' %>
    <%= f.select :send_reminder_date, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', ] %>

    <%= f.label :send_reminder_time, 'at', :class => 'label-gray block' %>
    <%= f.select :send_reminder_time, ['5:00AM', '6:00AM', '7:00AM','8:00AM','9:00AM','10:00AM','11:00AM','12:00PM','1:00PM','2:00PM','3:00PM','4:00PM','5:00PM','6:00PM','7:00PM','8:00PM' ] %>
  </p>

    <p class = "center top-space">
    <%= f.label :send_rollup_date, 'Send rollup every', :class => 'label-gray block' %>
    <%= f.select :send_rollup_date, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', ] %>

    <%= f.label :send_rollup_time, 'at', :class => 'label-gray block' %>
    <%= f.select :send_rollup_time, ['5:00AM', '6:00AM', '7:00AM','8:00AM','9:00AM','10:00AM','11:00AM','12:00PM','1:00PM','2:00PM','3:00PM','4:00PM','5:00PM','6:00PM','7:00PM','8:00PM' ] %>
  </p>


  <div class = "center top-space">
    <%= f.submit :class => 'button blue' %>
  </div>

<% end %>

</div>
