<div class = "non-color-page">
  <h2>Settings</h2>
    <h5 class = "center"><%= @company.name %></h5>

        <h3 class = "top-space center">
            Send question every
              <%= @company.send_question_date.strftime("%A") %>
            at
             <%= @company.send_question_time.strftime("%l:%M %p") %>
        </h3>

        <h3 class = "top-space center">
            Send reminder every
              <%= @company.send_reminder_date.strftime("%A") %>
            at
             <%= @company.send_reminder_time.strftime("%l:%M %p") %>
        </h3>

        <h3 class = "top-space center">
            Send rollup every
              <%= @company.send_rollup_date.strftime("%A") %>
            at
             <%= @company.send_rollup_time.strftime("%l:%M %p") %>
        </h3>

 <p class = "center top-space"><%= link_to 'Edit', edit_company_url(@company), :class => 'button gray'%></p>
</div>

