<div class = "non-color-page">

  <h2><%= @company.name %></h2>

    <div class = "smallest-container">
      <%= link_to "Users", users_url, :class => 'button-extra-large blue block center '%>

      <%= link_to "Questions", questions_url, :class => 'button-extra-large blue block center '%>

      <%= link_to "Rollups", company_rollups_url(@company), :class => 'button-extra-large blue block center '%>

      <% if super_admin? || admin? %>

        <%= link_to "Settings", company_settings_url(@company), :class => 'button-extra-large blue block center '%>

      <% end %>
    </div>
</div>

