<div class = "non-color-page">

  <h2><%= @company.name %></h2>

    <div class = "smallest-container">
      <%= link_to "Employees", users_url, :class => 'button-extra-large blue block center '%>

    <% if super_admin? || admin? %>

      <%= link_to "Questions", questions_url, :class => 'button-extra-large block center '%>

    <% end %>

      <%= link_to "Rollups", company_rollups_url(@company), :class => 'button-extra-large block center '%>

      <% if super_admin? || admin? %>

        <%= link_to "Settings", company_settings_url(@company), :class => 'button-extra-large blue block center '%>

      <% end %>
    </div>
</div>

