<%= form_for(@app_request) do |f| %>
  <% if @app_request.errors.any? %>
    <div id="error_explanation">
      <p class = "center">
      <% @app_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></p>
      <% end %>
    </div>
  <% end %>


  <div class = "form">

    <div class = "group left">
      <%= f.label :name, {:class => 'block label-gray'} %>
      <%= f.text_field :name, {:class => 'field'} %>
    </div>


  <div class="group right">
    <%= f.label :company, {:class => 'block label-gray'} %>
    <%= f.text_field :company, {:class => 'field'} %>
  </div>


  <div class="group">
    <%= f.label :email, 'Your Email', {:class => 'block label-gray'} %>
    <%= f.text_field :email, {:class => 'field longer'} %>
  </div>


  <div class="group">
    <%= f.label :message, 'Say hi! (optional)', {:class => 'block label-gray' } %>
    <%= f.text_area :message, {:class => 'field longer tall'}%>
  </div>

    <%= f.submit 'Send', {:class => 'button blue longer'} %>

<% end %>

</div>

