<div class = "non-color-page">

<div class = "container">
    <h2>App invite requests</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Message</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>


    <% @app_requests.each do |app_request| %>


      <tr>
        <td><h3 class = "table"><%= app_request.name %></h3></td>
        <td><h4 class = "table"><%= app_request.email %></h4></td>
        <td><h4 class = "table"><%= app_request.company %></h4></td>
        <td><h4 class = "table"><%= app_request.message %></h4></td>
        <td><p class = "table"><%= time_ago_in_words(app_request.created_at)%> ago<p></td>
      </tr>

    <% end %>
    </table>

  </div>

</div>
