<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @app_request.name %>
</p>

<p>
  <b>Email:</b>
  <%= @app_request.email %>
</p>

<p>
  <b>Company:</b>
  <%= @app_request.company %>
</p>

<p>
  <b>Message:</b>
  <%= @app_request.message %>
</p>


<%= link_to 'Edit', edit_app_request_path(@app_request) %> |
<%= link_to 'Back', app_requests_path %>
