

<div class = "app-home-page">

  <div class = "container group">

      <h1 class = "center">
        ClarityBox</h1>
<div class = "large-logo">
</div>



  <% if signed_in? %>

   <div class = "large-logo">

        <% if super_admin? %>
          <div class = "top-space center">
            <%= link_to 'View the companies', companies_url, :class => 'button'%>
          </div>

      <div class = "top-space center">
        <%= link_to '(View invite requests)', app_requests_url, :class => 'button-small'%>
      </div>
        <% end %>

        <% if admin? %>
          <div class = "top-space center">
            <%= link_to 'See your company clearly', company_url(current_user.company), :class => 'button'%>
          </div>
        <% end %>

        <% if general_user?  %>
          <div class = "top-space center">
            <%= link_to 'Enter', user_url(current_user), :class => 'button'%>
          </div>
        <% end %>

      <% else %>


       <div class = "top-space center">
          <%= link_to 'Request an invite', new_app_request_url, :class => 'button'%>
        </div>
  <% end %>
</div>

</div>



