

<div class = "app-home-page">

  <div class = "container group">

      <% if !signed_in? %>

      <h1 class = "center">
        ClarityBox</h1>
<div class = "large-logo">
</div>

  <% end %>

<% if signed_in? %>


      <h2 class = "center">
       Welcome <%= current_user.first_name %>!</h2>

<!--        <div class = "large-logo">
      </div>
 -->
<Div class = "center">
      <%= image_tag current_user.avatar_url, :class => 'avatar large' %>

</div>
        <% if super_admin? %>
          <div class = "top-space center">
            <%= link_to 'View companies', companies_url, :class => 'button square'%>

        <%= link_to 'View invites', app_requests_url, :class => 'button square'%>
      </div>
        <% end %>

        <% if admin? %>
          <div class = "top-space center">
            <%= link_to 'See your company clearly', company_url(current_user.company), :class => 'button'%>
          </div>
        <% end %>

        <% if general_user?  %>
          <div class = "top-space center">
            <%= link_to 'Enter your ClarityBox', user_url(current_user), :class => 'button'%>
          </div>
        <% end %>

      <% else %>


       <div class = "top-space center">
          <%= link_to 'Get an invite', new_app_request_url, :class => 'button'%>
        </div>
  <% end %>
</div>

</div>



