<div class = "main-callout group">
  <h2>
  See your company clearly.
  </h2>
  <h3 class = "center smaller-container small-top-space">
ClarityBox gives you the insights to build a happier, more productive company.
  </h3>

<p class = "button-center"><%= link_to 'Get clarity today', '/#problem', :class => 'button clear medium', :id => 'call-to-action' %></p>

</div>


<div id="problem" class = "problem section group ">
<h4 class = "center">
     Find out how your employees feel about your company.
    </h4>
  <div class = "smaller-container">
      <p>As your company grows, it's hard to know how your employees feel about your company. You wonder:</p>
<ul>
    <li>What do my employees love about the company?</li>
    <li>What are the unspoken frustrations?</li>
    <li>What should I be doing differently?</li>
    <li>Where should I be focusing my time and energy?</li>
</ul>
<p>
        If you had greater insight into your company, you would know what to take action on.
    </p>


  </div>
</div>

<div id="solution" class="solution section group">


    <h4 = "top-space">
      Gain the insight to improve your company.
    </h4>

      <div class = "smaller-container">


<!--  <p>
          ClarityBox gives you the inside look into your company that you wish you had, but can't because of your position as the company's leader.
</p>
<p>With ClarityBox, you will:<p> -->


<p><b>Make more-informed decisions.</b>  <!-- With ClarityBox, you see the full picture of your company, so you can make smarter decisions.  --> Your decisions will have greater buy-in and less friction. Your actions will be supported by your team, not just your own intuition.  </p>

<p><b>Increase employee morale.</b> <!-- ClarityBox listens to each person in your company. --> Your employees will feel heard and valued. They will appreciate you prioritizing their perspective.</p>

<p><b>Build a more productive company.</b>
<!-- After ClarityBox, it's easier to get things done.  You will make decisions with greater buy-in, and you won't feel blindsided when someone voices a concern.  -->You will spot problems faster, and reduce employee turnover. Your team can simply focus on producing great work.</p>

    </div>
</div>


<div id = "service" class = "service section group">

<!--     <h4>
      Simple + Straightforward
    </h4> -->

    <h4>
      Give your employees the attention they deserve.
    </h4>

  <div class = "smaller-container">

          <p>
          I interview each person in your company, and then present an indepth, panoramic view of how everyone feels.
        </p>

  <div class = " columns group">
    <div class = "col-1">
        <p><b>The Interviews</b></p>
        <ul>
          <li>One hour each</li>
          <li>Completely confidential</li>
          <li>In-person or via phone/Skype</li>
          <p> <%= link_to 'View sample interview questions here.', root_url %></p>
        </ul>

  </div>

  <div class = "col-2">
        <p><b>The Debrief</b></p>
        <ul>
          <li>A detailed debrief with you</li>
          <li>A presentation to the entire company</li>
          <li>A deck with the key insights </li>
          <p><%= link_to 'View a sample debrief deck here.', root_url %></p>
        </ul>
  </div>
</div>
      <p>I am based in Chicago, Illinois. If you're not in the area, no worries. We can arrange remote interviews or I can travel to where you are.</p>

      <p>The entire project typically lasts one month.</p>
    </div>
</div>



<div id="approach" class="approach section group">




<!--         <h4>Honest + Committed</h4> -->

        <h4>Get an honest, thoughtful perspective.</h4>

           <div class = "smaller-container">

        <p><b>Care:</b>  <!-- A company is more than a place where people show up to work everyday. It's where people have invested a large majority of their lives. --> I treat each company with a great deal of thoughtfulness. I'm committed to giving each person's perspective the care and attention it deserves. </p>

        <p><b>Personalization:</b>  <!-- I immerse myself in the nuances of your company:  the people, the circumstances, the dynamics. --> Before the interviews, I sit down with you to learn your company's history and current state. I craft interview questions specific to your company.

        <p><b>Truth:</b> When you ask for the truth, you get the truth. I fully absorb each person's perspective, and reflect it back to you as accurately as possible while maintaining complete confidentiality. <!-- I closely examine the language, emotion, and context of what people say, and take note of the motivations and influences that inform each person's viewpoint -->.</p>

<p class = "center"><%= link_to 'Learn more about my philosophy here.', philosophy_url %></p>

    </div>
</div>




<div id="testimonials" class = "testimonials section group">

  <h4>Hear what others are saying.</h4>
<!--
      <h4>I've worked with some great companies.</h4> -->

    <div class = "smaller-container">
<!--
      <p>
        I've been fortunate to have worked with some wonderful companies:
      </p> -->

      <div class = "col-1">

        <%= link_to image_tag('37signals_logo_transparent.png', :id => 'signals'), 'http://37signals.com', :class => 'no-hover' %>
          <p class = "quote">"Something that someone might say about the service. Hopefully it's something nice and that other people would want to read." <b>- The person's name</b></p>

      </div>

      <div class = "col-2">
        <%= link_to image_tag('starter-league-logo-text-large.png', :id => 'tsl'), 'http://starterleague.com', :class => 'no-hover' %>
        <p class = "quote">"Claire delivered her findings in a way that allowed us to take immediate action. The results have been a more transparent, happier workplace for everyone in our company."
          <b> - Neal Sales-Griffin, CEO</b></p>
      </div>





  </div>
</div>


<div id="who" class = "who section group">

   <h4>Who I am</h4>
<!--  <h4>I care about helping people be happier at work.</h4> -->

    <div class = "smaller-container">

         <div class = "headshot"></div>

<p class = " center top-space">
        I'm <%= link_to 'Claire Lew', 'http://twitter.com/cjlew23'%>.
      </p>

      <p>
        I helped start a <%= link_to 'company', 'http://starterleague.com' %>, and grow another <%= link_to 'company', 'http://mightynest.com/'%>. But I've always been struck by how unhappy people are when they aren't able to communicate openly and honestly with one another - and how much that impacts a company.
      </p>

      <p>
        So I founded ClarityBox. I wanted to create a solution to help people be happier at work.
      </p>

      <p class = "center"><%=link_to 'Learn more about my story here.', story_url %></p>
    </div>
  </div>

<div id="contact" class = "contact section group">

      <h4>Let's work together.
    </h4>

      <div class = "smaller-container">

        <%= render 'work_request_form' %>


      <p class = "center">
        If you're not a form kind of person, I'd love to hear from you at <a href="mailto:claire@claritybox.co">claire@claritybox.co</a>. Feel free to also give me a ring at 612.520.1476</p>
      <p class = "center">Learn more about <%= link_to 'my story', story_url %> and <%= link_to 'my philosophy', philosophy_url %>.</p>
      <p class = "center">Say hi on <%= link_to 'Twitter', 'http://twitter.com/cjlew23'%> and follow my <%= link_to 'blog', blog_url %>.</p>

    </div>
  </div>

<div class = "why-name group">
  <div class = "smaller-container">
    <h5>Why the name <b>ClarityBox</b>?</h5>
      <p>I wanted to create a space that enables you to communicate more honestly and openly at work. A space that you leave with a weight lifted off your mind. A space you trust. A space for clarity. Hence, ClarityBox. </p>
   </div>
</div>

