

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h5>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li class = "small-top-space center"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "form">

    <%= f.text_field :name, :placeholder => 'Name byline', :class => 'field longer'%>

    <%= f.text_field :title, :placeholder => 'Blog post title', :class => 'field large' %>

    <%= f.text_area :content, :placeholder => 'Content', :class => 'field large tall' %>


    <%= f.submit :class => 'button' %>

<% end %>

</div>
