<!DOCTYPE html>
<html>
<head>
  <title>ClarityBox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/bmv8eic.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>


  <!-- NAVIGATION -->

<header class = "primary-nav">

    <div class = "sticky container">

      <h1 class = "nav-logo"><%= link_to 'ClarityBox', responses_url%></h1>


      <nav class = "nav-elements">
        <ul>
         <li><%= link_to 'Users', users_url %></li>
        <li><%= link_to 'New user', new_user_url %></li>
        <li><%= link_to 'Sign in', new_session_url %></li>
        <li><%= link_to 'Sign out', session_url, method: 'delete' %></li>
        </ul>
      </nav>

  </div>

</header>


   <div class = "container group">


      <%= yield %>

  </div>




<!-- FOOTER -->


  <footer class = "top-space group">

    <ul>
      <li><%= link_to 'Weeks', weeks_url %></li>
      <li><%= link_to 'Questions', questions_url %></li>
      <li><%= link_to 'Users', users_url %></li>
    </ul>

  </footer>


</body>
</html>
