<!DOCTYPE html>
<html>
<head>
  <title>ClarityBox</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/bmv8eic.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>


  <!-- NAVIGATION -->



  <header class = "primary-nav">


    <div class = "sticky container">

      <div class = "nav-logo"><%= link_to '', app_home_url%>
      </div>



     <div class = "notice">
        <% if signed_in? %>
        Hey, <%= User.find(session[:user_id]).first_name %>.
          <% end %>
        <%= notice %>
    </div>


      <nav class = "nav-elements">
        <ul>
        <% if signed_in?  %>
          <li><%= link_to 'Your ClarityBox', user_url(session[:user_id]) %></li>
          <li><%= link_to 'Sign out', session_url, method: 'delete' %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_session_url %></li>
          <li><%= link_to 'Sign out', session_url, method: 'delete' %></li>
        <% end %>
        </ul>
      </nav>

  </div>

</header>


      <%= yield %>


<!-- FOOTER -->


  <footer>

    <ul>
      <% if signed_in? %>

          <% if super_admin? %>

            <li class = "app"><%= link_to 'All companies', companies_url %></li>

             <li class = "app"><%= link_to 'All questions', questions_url %></li>

          <li class = "app"><%= link_to 'All rollups', questions_url %></li>

          <% else %>



          <li class = "app"><%= link_to current_user.company.name, company_url(current_user.company) %></li>

            <li class = "app"><%= link_to 'All questions', questions_url %></li>


          <li class = "app"><%= link_to 'All rollups', questions_url %></li>

          <% end %>


      <% end %>
    </ul>

  </footer>


</body>
</html>
