<!DOCTYPE html>
<html>
<head>
  <title>ClarityBox</title>
  <%= stylesheet_link_tag    "headquarters", :media => "all" %>
   <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <script type="text/javascript" src="//use.typekit.net/bmv8eic.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
<!--Google Analytics Tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41608257-1', 'claritybox.co');
  ga('send', 'pageview');

</script>
</head>
<body>

<!--Photo credits
  All landscape photos are credited to Julie Lew.
  All headshot photos are credited to Justin Barbin.
-->

  <!--Jquery-->


<script>
$(document).ready(function () {
  /* Header scroll */
  $(document).scroll(function () {
    var scrollTop = $(document).scrollTop();
    if (scrollTop <= 175){
      $("header").removeClass("is-opaque");
    }
    else{
      $("header").addClass("is-opaque");
    }
  });

    /* Local "Logo" scroll*/
  $(".nav-logo").click(function(){
    var offset = $(".main-callout").offset();
      console.log(offset["top"]);
    $("html, body").animate({ scrollTop: offset["top"]}, 70);
    return false;
  });

  /* Local "Contact" scroll*/
  $("#button-header").click(function(){
    var offset = $("#contact").offset();
      console.log(offset["top"]);
    $("html, body").animate({ scrollTop: offset["top"]}, 3000);
    return false;
  });

    /* Local "Get Clarity" scroll*/
  $("#call-to-action").click(function(){
    var offset = $("#problem").offset();
      console.log(offset["top"]);
    $("html, body").animate({ scrollTop: offset["top"]}, 1000);
    return false;
  });

});

</script>

  <!--Notice-->

 <% if notice.present? %>

 <script>
$(document).scroll(function () {
  $(".notice").css("display", "none").fadeOut("slow");
  });
</script>

     <div class = "notice center group">
        <%= notice %>
    </div>



<% end %>



  <!--Navigation-->


<header class = "primary-nav">

  <div class = "sticky container">

    <h1> <%= link_to 'ClarityBox', root_url, :class => 'nav-logo' %></h1>

    <nav class = "nav-elements many">
      <ul>
   <!--      <li><a href="/about/#problem">Problem</a></li>
        <li><a href="/about/#solution">Solution</a></li>
         <li><a href="/about/#process">Process</a></li>
        <li><a href="/about/#process">Values</a></li>
        <li><a href="/about/#testimonials">Testimonials</a></li>
        <li><a href="/about/#who">Who I Am</a></li>
         <li id = "button-header-many"><%= link_to 'Contact', '/#contact' %></li> -->
      <li id = "tell-friend">
        <%= mail_to '?',
            'Tell your friends',
            :subject => 'Have you heard of ClarityBox?',
            :body => "It's is a service that helps you see your company clearly. You get the insights to improve your company through in-depth interviews, comprehensive and thoughtful analysis, and a carefully-crafted debrief. Check it out and consider contacting them -   http://claritybox.co",
            :id => 'tell-friend' %>
      </li>

      <li><%= link_to 'Contact', '/#contact', :id => "button-header" %></li>
      <li class = "no-hover" id = "twitter-icon"><%= link_to image_tag('twitter.png'),'http://twitter.com/theclaritybox', :id => 'twitter' %></li>

      </ul>
    </nav>

  </div>
</header>


<!-- Main content -->

<%= yield %>


<!-- Footer -->


  <footer class = "group">

    <ul class = "main-items">
      <li class = "main-items"><%= link_to 'Story', story_url %></li>
      <li class = "main-items"><%= link_to 'Philosophy', philosophy_url %></li>
<!--       <li class = "main-items"><%= link_to 'Blog', posts_url %></li> -->

     <li class = "main-items"><%= link_to 'Twitter', 'http://twitter.com/theclaritybox' %></li>
    </ul>


      <h5 = "footer-small">claire@claritybox.co | 612.520.1476</h5>

    <p> &copy; 2013 Claire Lew. All rights reserved. </p>

  </footer>

</body>
</html>
